/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

/* Heading Styles */
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Form Styles */
form {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Question Styles */
p {
  margin-top: 20px;
  font-size: 18px;
  color: #333333;
}

/* Radio Button Styles */
input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
}

/* Submit Button Styles */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 20px;
  border-radius: 10px;
}

/*Submit button hover effect*/
button:hover {
  background-color: #3E8E41;
}

/* Results Styles */
#results {
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #4CAF50;
}
#progress-bar {
  width: 0%;
  height: 20px;
  background-color: #4CAF50;
  transition: width 0.3s ease-in-out;
}
#resources {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

#resources h2 {
  margin-bottom: 20px;
}

#resources ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#resources li {
  margin-bottom: 10px;
}


/* Responsive design */
@media (max-width: 600px) {
  form {
    width: 90%;
    margin: 0 auto;
  }
  h1 {
    font-size: 24px;
  }
}

